{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'test_site/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Защита от взлома</title>
</head>
<body>
    <h1>ЗАЩИТА ОТ ВЗЛОМА</h1>
    <article>
        <img src="{% static 'test_site/vzlom.jpg' %}">
        <h3>
            <ul>
                {% for pam in pams %}
                <li>{{ pam }}</li>
                {% endfor %}
            </ul>
        </h3>
        <a href="/"><button class="but">К памяткам</button></a>
    </article>
</body>
</html>