{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'test_site/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ЗАЩИТА ОТ ВИРУСОВ</title>
</head>
<body>
    <h1>ЗАЩИТА ОТ ВИРУСОВ</h1>
    <article>
        <img src="{% static 'test_site/virus.png' %}">
        
        <h3>
            <ul>
                {% for pam in pams %}
                <li>{{ pam }}</li>
                {% endfor %}
            </ul>
        </h3>
        <a href="/"><button>К памяткам</button></a>
    </article>
</body>
</html>